@charset "utf-8";
@import 'foundation/mixins';

/* ============================================
	求人 追加分
// ==========================================*/

/*--------------------
	共通
--------------------*/
.pageHeader {
	.img {
		background-image: url(../img/kyujin/pageheader.png);
	}
}
.l-main {
	margin-top: 72px;
	@include mq(sp) {
		margin-top: 56px;
	}
}
.job_ttl {
	a {
		transition: all 0.3s !important;
		@include mq(pc) {
			&:hover {
				opacity: 1;
				color: $primary-color;
			}
		}
	}
}
.job_count_pager {

	.pagination {
		li {
			a {
				background: #dcdada;
				transition: background 0.4s, color 0.4s;
				@include mq(pc) {
					&:hover {
						background: $primary-color;
					}
				}
			}
			em {
			}
		}
	}
	&.contents_top {
		.pagination {
			li {
				margin: 0 1px;
				a {
					border-radius: 16px 0 16px 0;
				}
				em {
					border-radius: 16px 0 16px 0;
				}
			}
		}
	}
	&.contents_bottom {
		padding: 0;
		padding-top: 40px;
		.pagination {
			li {
				margin: 0 2px;
				a {
					border-radius: 24px 0 24px 0;
				}
				em {
					border-radius: 24px 0 24px 0;
				}
			}
		}
	}

}
.btn {
	border-radius: 100px;
	@include mq(pc) {
		&:hover {
			opacity: 1;
			background: darken($primary-color,10);
		}
	}

	&.btn_external {
		&:after {
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
		}
	}
	&.btn_secondary {
		@include mq(pc) {
			&:hover {
				opacity: 1;
				background: $primary-color;
			}
		}
	}
}
.breadcrumb {
	margin-top: 80px;
	@include mq(sp) {
		margin-top: 48px;
	}
}


/*--------------------
	求人情報（一覧）
--------------------*/
.lower-kyujin_l {

	.search_panel {
		max-width: 1000px;
		margin: 0 auto 48px;
		padding: 40px 50px 30px;
		background-color: #fff;
		@include mq(sp) {
			display: block;
			padding: 40px 24px 32px;
			margin-bottom: 32px;
		}
	}
	.search-toggle {
		border-radius: 100px;
		transition: background 0.4s;
		@include mq(pc) {
			&:hover {
				opacity: 1;
				background-color: darken($primary-color,10);
			}
		}
		.toggle_trigger {
			border-radius: 0 100px 100px 0;
		}
		.toggle_txt {
			@include mq(sp) {
				font-size: 1.3rem;
			}
		}
	}
	.job_result_total {
		.job_result_total_body_ttl {
			@include mq(sp) {
				font-size: 1.3rem;
			}
		}
	}
	.job_body_head_img {
		a {
			.job_img {
				overflow: hidden;
				img {
					transition: transform 0.4s;
					@include mq(pc) {
						&:hover {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	.custom-form {
		.custom-form_inner {
			margin-top: 0;
		}
		.btn_cover {
			@include mq(sp) {
				&::before {
					left: 88px !important;
				}
				input {
					font-size: 1.4rem !important;
				}
			}
		}
	}
}


/*--------------------
	求人情報（詳細）
--------------------*/
.lower-kyujin_d {
	.l-main {
		margin-top: 36px;
		@include mq(sp) {
			margin-top: 8px;
		}
	}
	.movieArea {
		margin-top: 24px;
		&__movie {
				width: 100%;
				position: relative;
				@include keepAspect(56.27%);
		}
		iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
		}
}
	.outline_ttl,
	.appeal_ttl {
		padding-left: 36px;
		@include mq(sp) {
			padding-left: 28px;
		}
	}
	.pagetop {
		bottom: calc(40px + 93px);
		@include mq(sp) {
			bottom: calc(12px + 68px);
		}
	}
	.breadcrumb {
		@include mq(sp) {
			margin-top: 24px;
		}
	}
	.footer {
		padding-bottom: 93px;
		@include mq(sp) {
			padding-bottom: 68px;
		}
	}
}


/*--------------------
	新着求人情報
--------------------*/
.lower-whatsnew {
	.l-main {
		@include mq(sp) {
			margin-top: 40px;
		}
	}
	.job_img_wrap {
		a {
			img {
				transition: transform 0.4s;
			}
			.job_img {
				overflow: hidden;
			}
			@include mq(pc) {
				&:hover {
					opacity: 1;
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
