@charset "utf-8";

/* ============================================
// INDEX
// ==========================================*/

.front-page{

/*--------------------
 ローディング
--------------------*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background:$bg-color;
	text-align:center;
	color:#fff;

	&_logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		img {
			width:190px;
			@include mq(sp) {
				width: 140px;
			}
		}
	}

	&:before {
		content: '';
		display: inline-block;
		background-image: url(../img/common/bg01.png);
		background-repeat: no-repeat;
		width: 698px;
		height: 325px;
		position: absolute;
		top: 0;
		right: 0;
		@include mq(sp) {
		  transform: scale(0.4);
		  transform-origin: top right;
		}
	}
	&:after {
		content: '';
		display: inline-block;
		background-image: url(../img/common/bg02.png);
		background-repeat: no-repeat;
		width: 335px;
		height: 575px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		pointer-events: none;
		@include mq(sp) {
			transform: scale(0.5);
			transform-origin: bottom left;
		}
	}
}

/*--------------------
 背景画像
--------------------*/
// 背景画像（グラデーション）
.main {
	background-image: url(../img/common/bg04.png);
	background-position: bottom -10% right,;
	background-repeat: no-repeat;
	position: relative;
	@include mq(sp) {
		padding-bottom: 64px;
		background-size: auto 180px;
	}
	&:before {
		content: '';
		display: inline-block;
		background-image: url(../img/common/bg02.png);
		background-repeat: no-repeat;
		width: 335px;
		height: 575px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transform: translateY(-54%);
		pointer-events: none;
		@include mq(sp) {
			transform: scale(0.5);
			transform-origin: top left;
		}
	}
}
// 背景画像（イラスト）
.sec__jobSearch {
	background-image: url(../img/common/bg_illust01.png);
	background-position: bottom -12% right;
	background-repeat: no-repeat;
	@include mq(tab) {
		background-size: auto 280px;
		background-position: bottom 0 right;
	}
	@include mq(sp) {
		background-size: auto 180px;
		background-position: bottom 20% right;
	}
}
// 背景画像（グラデーション）
.sec__facility {
	position: relative;
	&:before {
		content: '';
		display: inline-block;
		background-image: url(../img/common/bg03.png);
		width: 693px;
		height: 575px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -5;
		pointer-events: none;
		@include mq(sp) {
			transform: scale(0.5);
			transform-origin: bottom left;
		}
	}
}
// 背景画像（イラスト）
.sec__others {
	position: relative;
	&:before {
		content: '';
		display: inline-block;
		background-image: url(../img/common/bg_illust02.png);
		background-size: contain;
		width: 487px;
		height: 382px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transform: translateY(-15%);
		pointer-events: none;
		@include mq(tab) {
			transform: scale(0.8);
			transform-origin: top left;
		}
		@include mq(sp) {
			transform: scale(0.45);
			transform-origin: top left;
			top: -21px;
		}
		@include mq(narrow) {
			transform: scale(0.4);
		}
	}
}
// 背景画像（四角形）
.sec__interview {
	.interview {
		&__img-holder {
			position: relative;
			&::after {
				content: '';
				display: inline-block;
				background-image: url(../img/common/bg_square01.png);
				width: 516px;
				height: 759px;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				z-index: -1;
				@include mq(tab) {
					width: 350px;
					height: 540px;
				}
				@include mq(sp) {
					transform-origin: top right;
					right: -24px;
					width: 120px;
					height: 250px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}


/*--------------------
 余白
--------------------*/
.main {
	padding-bottom: 120px;
	@include mq(sp) {
		padding-bottom: 56px;
	}
}


/*--------------------
 メインビジュアル
--------------------*/
.mainVisual {
	position: relative;
	z-index: 3;
	&__slide {
		order: 2;
		padding-left: 200px;
		height: 590px;
		@include mq(tab) {
			height: 486px;
		}
		@include mq(sp) {
			padding-left: 40px;
			height: 345px;
		}
	}
	&__sub-line {
		width: 200px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include mq(sp) {
			width: 40px;
			padding-top: 50px;
		}
	}
	&__copy {
		color: $primary-color;
		font-size: 3.2rem;
		font-weight: bold;
		line-height: 1.8;
		position: absolute;
		top: 72px;
		left: 72px;
		z-index: 2;
		pointer-events: none;
		@include mq(sp) {
			top: auto;
			bottom: 8px;
			left: 56px;
			font-size: 2.0rem;
			white-space: nowrap;
		}

		.bold {
			font-size: 8.7rem;
			font-weight: bold;
			line-height: 1;
			display: inline-block;
			margin-right: 8px;
			@include mq(sp) {
				font-size: 5.6rem;
			}
		}
	}
	&__sub-text {
		color: $primary-color;
		font-size: 1.6rem;
		font-weight: bold;
		position: absolute;
		bottom: 0;
		right: 0;
		padding-right: 90px;
		@include mq(sp) {
			font-size: 1.2rem;
			padding-right: 48px;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 68px;
			height: 1px;
			position: absolute;
			top: 50%;
			right: 0;
			background-color: $primary-color;
			@include mq(sp) {
				width: 40px;
			}
		}
	}

	.swiper-pagination {
		width: 48px;
		position: absolute;
		bottom: 0;
		right: 40px;
		z-index: 2;
		display: inline-block;
		@include mq(sp) {
			right: 0;
		}
		.swiper-pagination-bullet {
			width: 48px;
			height: 48px;
			left: 0;
			bottom: 0;
			margin: 0;
			padding: 9px 0;
			opacity: 1;
			font-size: 1.4rem;
			font-family: $eng;
			font-weight: bold;
			// transition: transform .3s ease;
			border-radius: 0;
			color: $primary-color;

			display: block;
			position: absolute;
			text-align: center;
			box-sizing: border-box;
			background-color: transparent;
			visibility: hidden;
			@include mq(sp) {
				width: 30px;
				height: 30px;
				left: 14px;
				bottom: 0;
				font-size: 1.1rem;
				padding: 4px 0;
			}
			&:not(:first-child) {
				margin-top: 20px;
			}
			&.swiper-pagination-bullet-active {
				visibility: visible;
				@keyframes sliderPagination {
					100% {
					   stroke-dashoffset: 0;
				   }
				}
				.circle {
					transform: rotate(-90deg);
				}
				.circle1 {
					animation: sliderPagination 6s linear forwards;
				}
			}
			.circle {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				@include mq(sp) {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	.circle1 {
		stroke-dasharray: 152px;
		stroke-dashoffset: 152px;
	}
}

/*--------------------
 新着求人情報 / 求人検索
--------------------*/
/*** まとめ ***/
.sec__recruit {
	padding-top: 100px;
	padding-bottom: 112px;
	position: relative;
	background-color: #fff;
	@include mq(tab) {
		padding-bottom: 80px;
	}
	@include mq(sp) {
		padding-top: 88px;
		padding-bottom: 32px;
	}

	&::before {
		content: '';
		display: inline-block;
		background-image: url(../img/common/bg_gradation01.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 306px;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-100%);
		z-index: -2;
		@include mq(sp) {
			height: 180px;
			transform: translateY(-50%);
		}
	}

	.recruit {
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 1230px;
			@include mq(sp) {
				display: block;
			}

		}
	}
}

/*** 新着求人情報 ***/
.sec__newJobs {
	flex: 0 0 34%;

	.newJobs {
		&__list {
			margin-top: 48px;
			max-height: 400px;
			overflow-y: scroll;
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display:none;
			}
			@include mq(sp) {
				margin-top: 28px;
			}
			&__item {
				position: relative;
				a {
					display: block;
					padding: 16px 0;
					@include mq(sp) {
						p12:0
					}
				}
				.body {
					margin-top: 4px;
				}
				.date {
					color: $light-blue;
					font-weight: bold;
					font-size: 1.4rem;
					display: inline-block;
					margin-right: 4px;
				}

				&:before {
					content: "";
					background-image: linear-gradient(to right, $border-color, $border-color 4px, transparent 4px, transparent 6px);
					background-size: 6px 1px;
					background-repeat: repeat-x;
					width: 100%;
					height: 1px;
					position: absolute;
					top: 0;
					left: 0;
				}
				&:last-child {
					&:after {
						content: "";
						background-image: linear-gradient(to right, $border-color, $border-color 4px, transparent 4px, transparent 6px);
						background-size: 6px 1px;
						background-repeat: repeat-x;
						width: 100%;
						height: 1px;
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}
			}
		}
	}
	.commonBtn02 {
		margin-top: 60px;
		@include mq(sp) {
			margin: 28px auto 0;
		}
	}
}

/*** 求人検索 ***/
.sec__jobSearch {
	flex: 0 0 60%;
	@include mq(sp) {
		margin-top: 56px;
	}
}


/*--------------------
 施設紹介
--------------------*/
.sec__facility {
	padding-top: 80px;
	padding-bottom: 200px;
	@include mq(tab) {
		padding-bottom: 120px;
	}
	@include mq(sp) {
		padding-top: 32px;
		padding-bottom: 56px;
	}

	.facility {
		&__head {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			@include mq(sp) {
				display: block;
			}

			.commonTitle01 {
				flex: 0 0 29%;
			}
			.lead {
				flex: 0 0 65%;
				@include mq(sp) {
					margin-top: 24px;
				}
			}

			&.innerWrap {
				max-width: 1180px;
			}
		}
		&__body {
			margin-top: 48px;
			position: relative;
			@include mq(sp) {
				margin-top: 24px;
			}
		}
		&__list {
			&__wrap {
				width: 850px;
				overflow: visible;
				@include mq(sp) {
					width: 90%;
					max-width: 380px;
				}
			}
			&__item {
				a {
					display: block;
					background-color: #fff;
					padding: 20px;
					transition: transform 0.4s;
					will-change: transform;
					@include mq(pc) {
						&:hover {
							transform: scale(1.03)
						}
					}
				}
			}

		}
	}

	.img-holder {
		.img {
			@include keepAspect(67.5%);
		}
	}
	.txt-holder {
		padding-top: 26px;
	}
	.facility-name {
		color: $light-green;
		font-size: 1.8rem;
		font-weight: bold;
		display: block;
		@include mq(sp) {
			font-size: 1.6rem;
		}
	}

	.commonBtn02 {
		margin: 64px auto 0;
		@include mq(sp) {
			margin: 32px auto 0;
		}
	}

	// swiper control
	.facility {
		&__controls {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
			z-index: 2;
			&__item {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				&.-prev {
					left: 0;
					transform: translateY(-50%) scale(-1,1);
				}
				&.-next {
					right: 0;
				}
				img {
					@include mq(sp) {
						height: 48px;
					}
				}
			}
		}
	}
}


/*--------------------
 インタビュー
--------------------*/
.sec__interview {
	position: relative;
	z-index: 4;
	.interview {
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include mq(tab) {
				padding-right: 0;
			}
			@include mq(sp) {
				display: block;
			}
		}
		&__txt-holder {
			flex: 0 0 30%;
		}
		&__img-holder {
			flex: 0 0 64%;
			margin-left: 5%;
			@include mq(sp) {
				margin-left: 0;
				margin-top: 24px;
			}
			.img {
				width: 61.3vw;
				@include mq(tab) {
					margin-right: 0;
					margin-left: auto;
				}
				@include mq(sp) {
					width: 90%;
					max-width: 460px;
					margin: 0 auto;
				}
			}
			img {
				max-height: 560px;
			}
		}
	}
	.lead {
		margin-top: 28px;
		@include mq(sp) {
			margin-top: 24px;
		}
	}
	.commonBtn02 {
		margin-top: 56px;
		@include mq(sp) {
			margin: 32px auto 0;
		}
	}
}


/*--------------------
 よくある質問 / 数字で見るゆきあい
--------------------*/
/*** まとめ ***/
.sec__others {
	padding-top: 190px;
	@include mq(tab) {
		padding-top: 160px;
	}
	@include mq(sp) {
		padding-top: 80px;
	}
	.others {
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			@include mq(sp) {
				display: block;
			}
		}
		&__txt-holder {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 32px;
			@include mq(sp) {
				margin-top: 24px;
			}

			.commonTitle01 {
				flex: 0 0 40%;
				@include mq(sp) {
					flex: 0 0 50%;
				}
			}
			.commonBtn02 {
				flex: 0 0 42%;
				margin-right: 7px;
			}
		}
		&__img-holder {
			.img {
				@include keepAspect(70.7%);
			}
		}
	}
}

/*** よくある質問 ***/
.sec__faq {
	flex: 0 0 47%;
	margin-top: 100px;
	@include mq(sp) {
		margin: 0 auto;
		max-width: 564px;
	}
}

/*** 数字で見るゆきあい ***/
.sec__data {
	flex: 0 0 47%;
	@include mq(sp) {
		margin: 32px auto 0;
		max-width: 564px;
	}
}


/*--------------------
 IE
--------------------*/
@media all and (-ms-high-contrast: none) {
	.circle {
		border: 1px solid ;
		border-radius: 50%;
	}
}


}
