
// マスク
.c-background--mask {

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(#000, 0.5);
	}
}

// 背景を固定
.c-background--fixed {
	@include mq(pc) {
		background-attachment: fixed;
	}
	@include mq(ie) {
		background-attachment: local;
	}
	@include mq(tab) {
		background-attachment: initial;
	}
}

// ウインドウ幅いっぱいに広げる
.c-background--window-full {
	margin: 0 calc(50% - 50vw);
	padding: 0 calc(50vw - 50%);
	overflow: hidden;
	width: 100vw;
}

.c-background--window-right {
	margin: 0 auto 0 calc(50% - 50vw);
	overflow: hidden;
	width: 50vw;
}

.c-background--window-left {
	margin: 0 calc(50% - 50vw) 0 auto;
	overflow: hidden;
	width: 50vw;
}
